!!! 5
%html
  %head
    %meta(charset="utf-8")
    - if loading
      %meta(http-equiv="refresh" content="5")
    %title
      Account Information for
      = account.user
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/libs/modernizr-2.0.6.min.js")

  %body
    #container.container
      %header
        %h1
          Account Information for
          = account.user

      #main
        %p
          = account.messages.count.commas
          - if loading
            of
            = account.message_count.commas
          messages loaded
          - if loading
            = surround '(', '%)' do
              = '%3.0f' % (100 * account.messages.count / account.message_count)

        %div.addresses
          - for address in account.frequent_correspondents(30).sort_by { |a| a.address. downcase }
            %span.address[address]
              = "#{address.name} &lt;#{address.address}&gt;"
              %span.hidden.me me!
              %span.hidden.same-as same as&hellip;

      %footer

  #legend

  %script(src="js/libs/jquery-1.7.2.min.js")
  %script(src="js/libs/bootstrap.min.js")
  %script(type="text/javascript")
    = "var user = {id: #{account.id}};"
  %script(src="js/addresses.coffee.js")
