!!! 5
%html
  %head
    %meta(charset="utf-8")
    - if account.message_loaded_count < account.message_count
      %meta(http-equiv="refresh" content="5")
    %title
      Account Information for
      = account.user
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/libs/modernizr-2.0.6.min.js")

  %body
    #container.container
      %header
        %h1
          Account Information for
          = account.user

      #main
        %p
          = account.message_loaded_count.commas
          of
          = account.message_count.commas
          messages loaded
          = surround '(', '%)' do
            = '%3.0f' % (100 * account.message_loaded_count / account.message_count)

      %footer

  #legend

  %script(src="js/libs/jquery-1.7.2.min.js")
  %script(src="js/libs/bootstrap.min.js")
