!!! 5
%html
  %head
    %meta(charset="utf-8")
    - if loading
      %meta(http-equiv="refresh" content="5")
    %title
      Account Information for
      = user.email_address
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script(src="/js/modernizr.js")

  %body
    #container.container
      %header
        %h1
          = user.email_address
        %a.signout(href="/account/signout") Sign Out

      #main
        %p
          = user.messages.count.commas
          - if loading
            of
            = user.message_count.commas
          messages loaded
          - if loading
            = surround '(', '%)' do
              = '%3.0f' % (100 * user.messages.count / user.message_count)

        %h2 Frequent correspondents
        %a.clearfix(href="/user/#{user.id}/stream") Stream
        %a.clearfix(href="/user/#{user.id}/bubble") Bubble
        %div.addresses
          - for contact in EmailAnalyzer.new(user).frequent_correspondents(40) #.sort_by { |a| (a.display_name || a.spec).downcase }
            %span.address[contact]
              = "#{contact.name} &lt;#{contact.address}&gt; (#{contact.message_count})"
              %span.hidden.me me!
              %span.hidden.same-as same as&hellip;


      %footer

  #legend

  %script(src="/js/jquery.js")
  %script(src="/js/bootstrap.js")
  %script(type="text/javascript")
    = "var user = {id: #{user.id}};"
  %script(src="/js/addresses.js")
