!!! 5
%html
  %head
    %meta(charset="utf-8")
    - if loading
      %meta(http-equiv="refresh" content="5")
    %title
      Account Information for
      = user.email_address
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/libs/modernizr-2.0.6.min.js")

  %body
    #container.container
      %header
        %h1
          user Information for
          = user.email_address

      #main
        %p
          = user.messages.count.commas
          - if loading
            of
            = user.message_count.commas
          messages loaded
          - if loading
            = surround '(', '%)' do
              = '%3.0f' % (100 * user.messages.count / user.message_count)

        %div.addresses
          - for address in user.frequent_correspondents(40).sort_by { |a| (a.display_name || a.spec).downcase }
            %span.address[address]
              = "#{address.display_name} &lt;#{address.spec}&gt;"
              %span.hidden.me me!
              %span.hidden.same-as same as&hellip;

      %footer

  #legend

  %script(src="js/libs/jquery-1.7.2.min.js")
  %script(src="js/libs/bootstrap.min.js")
  %script(type="text/javascript")
    = "var user = {id: #{user.id}};"
  %script(src="js/addresses.coffee.js")
